html {
  font-size: 18px;
}

body {
  font-style: Helvetica, sans-serif;
  max-width: 1024px;
  margin: auto;
  border-bottom: solid 1px grey;
  border-left: solid 1px grey;
  border-right: solid 1px grey;
}
/* Header content */

header {
  display: flex;
  flex-wrap: wrap;
  margin: 0.9rem 0;
}

header img {
  height: 1.7rem;
  width: auto;
}

header strong {
  font-weight: bold;
}

header span {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

header ul {
  padding-right: 1.3rem;
}

header li {
  margin-right: 0.9rem;
}

header li .signIn {

}

ul {
  display: flex;
  align-items: center;
  text-align: right;
}

@media only screen and (max-width: 600px){
  header ul {
    display: none;
  }
}

/* Banner Content */

.banner {
  background-color: lightgrey;
}

.bannerContent{
  display: flex;
  align-items: center;
}

.flexbox-content {
  margin: 0 4rem 0 0;
}

.flexbox-img img {
  max-width: 92%;
  height: auto;
  margin: 1.7rem 1.3rem;
}

.flexbox {
  max-width: 60%;
}

.flexboxBanner {
  max-width: 40%;
  padding-right: 6rem;
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  margin: 1rem 0;
  padding: 1rem;
}

.start:hover {
  background-color: grey;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

@media only screen and (max-width: 600px){
  .bannerContent {
    flex-direction: column;
    margin: 0;
  }
  .flexbox-img img {
    display: none;
  }
  .flexbox {
    background-image: url("./c:/Projects/colmarAcademy/resources/images/banner.jpg");
  }
}

/* Information container */

.column {
}

.column-content {
  display: flex;
}

.columnLarge {
  max-width: 56%;
  margin: 0 0 0 1.3rem;
  padding-right: 0;
}

.columnLarge .rep {
  margin: 1.7rem 0;
}

.columnLarge p {
  margin-top: 1.3rem;
}

.columnLarge img {
  max-width: 98%;
  height: auto;
  margin-top: 1.3rem;
}

.columnLarge h3 {
  margin-top: 1.3rem;
}

.columnLarge .margin {
  margin-bottom: 1.7rem;
}

.columnMedium {
  max-width: 44%;
  display: flex;
  margin: 0;
  flex-direction: column;
  flex-wrap: wrap;
}


.medium-flex {
  display: flex;
  border: solid 1px lightgrey;
  align-items: center;
}

.medium-flex.color {
  background-color: lightgrey;
}

.columnMedium img {
  max-width: 125px;
  margin: .9rem .9rem;
}

.flex-items {
  padding-right: 1.7rem;
}

.flex-items p {
  margin: .4rem 0;
}

@media only screen and (max-width: 600px){
  .columnLarge {
    display: none;
  }
  .columnMedium {
    max-width: 100%;
    flex-wrap: nowrap;
  }
}

/*learning content */

.learning {
  background: rgb(220, 220, 220);
  padding-top: 1.7rem;
}

.heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.flex-learning {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content {
  max-width: 275px;
  height: auto;
  margin: 1.7rem 0.9rem;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

.content img {
  width: 100%;
  height: auto;
}

/* thesis content */

.thesis {
}

.flex-thesis {
  display: flex;
}

.heading1 {
  margin: 1.7rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

video {
  height: auto;
  max-width: 100%;
}

/* footer content */

footer {
  border-top: solid 1px lightgrey;
  display: flex;
}

.credit {
  flex-grow: 1;
  margin: .9rem 0 1.7rem 1.3rem;
}

footer li {
  margin-right: 0.9rem;
}
