html {
  font-size: 18px;
}

body {
  font-style: Times;
  max-width: 1024px;
  margin: auto;
  border-bottom: solid 1px grey;
  border-left: solid 1px grey;
  border-right: solid 1px grey;
}
/* Header content */

header {
  display: flex;
  flex-wrap: wrap;
  margin: 0.9rem 0;
}

header img {
  height: 1.7rem;
  width: auto;
}

header strong {
  font-weight: bold;
}

header span {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

header ul {
  padding-right: 1.3rem;
}

header li {
  margin-right: 0.9rem;
}

header li .signIn {

}

ul {
  display: flex;
  align-items: center;
  text-align: right;
}

.mobileHeader {
  display: none;
}

@media only screen and (max-width: 600px){
  header {
    display: none;
  }
  .mobile-header {

  }
  .mobileHeader {
    width: 100%;
    z-index: 1;
    background: white;
    opacity: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    white-space: nowrap;
  }
  .mobile-flex {
    flex: auto;
  }
  .mobile-flex img {
    height: 2rem;
    padding: 0.8rem 0.9rem;
  }
}

/* Banner Content */

.banner {
  background-color: lightgrey;
}

.mobileBanner {
  display: none;
}

.bannerContent{
  display: flex;
  align-items: center;
}

.flexbox-content {
  margin: 0 4rem 0 0;
}

.flexbox-img img {
  max-width: 92%;
  height: auto;
  margin: 1.7rem 1.3rem;
}

.flexbox {

  max-width: 60%;
}

.flexboxBanner {
  max-width: 40%;
  padding-right: 6rem;
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  margin: 1rem 0;
  padding: 1rem;
}

.start:hover {
  background-color: grey;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  font-style: helvetica;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: helvetica;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

@media only screen and (max-width: 600px){
  .mobileBanner {
    display: inherit;
    background: lightgrey;
    padding-bottom: 1.7rem;
  }
  .mobileBanner img {
    max-width: 100%;
    margin-top: 60px;
  }
  .mobileBanner h2 {
    margin-bottom: 1.7rem;
  }
  .mobileBanner p {
    margin-bottom: 1.3rem;
    font-weight: bold;
  }
  .mobileContent {
    margin: 1.7rem 0.9rem;
  }
  .mobileContent .start {
    padding-bottom 1.7rem;
  }
  .banner {
    display: none;
  }

}

/* Information container */

.column {
}

.column-content {
  display: flex;
}

.columnLarge {
  max-width: 56%;
  margin: 0 0 0 1.3rem;
  padding-right: 0;
}

.columnLarge .rep {
  margin: 1.7rem 0;
}

.columnLarge p {
  margin-top: 1.3rem;
}

.columnLarge img {
  max-width: 98%;
  height: auto;
  margin-top: 1.3rem;
}

.columnLarge h3 {
  margin-top: 1.3rem;
}

.columnLarge .margin {
  margin-bottom: 1.7rem;
}

.columnMedium {
  max-width: 44%;
  display: flex;
  margin: 0;
  flex-direction: column;
  flex-wrap: wrap;
}


.medium-flex {
  display: flex;
  border: solid 1px lightgrey;
  align-items: center;
}

.medium-flex.color {
  background-color: lightgrey;
}

.columnMedium img {
  max-width: 125px;
  margin: .9rem .9rem;
}

.flex-items {
  padding-right: 1.7rem;
}

.flex-items p {
  margin: .4rem 0;
}

.mobile-campus {
  display: none;
}

/* Mobile content */

@media only screen and (max-width: 600px){
  .column {
    display: none;
  }
  .mobile-campus {
    display: inherit;
  }
  .mobile-flex-information {
    margin: 0.9rem;
  }
  .mobile-flex-information img {
    max-width: 100%;
  }
  .mobile-flex-information a {
    color: blue;
    text-decoration: none;
  }
  .mobile-flexInfo {
    margin: 1.3rem 0.9rem;
  }
  .mobile-flexInfo p {
    margin: 0.5rem 0;
  }
}

/*learning content */

.learning {
  background: rgb(220, 220, 220);
  padding-top: 1.7rem;
}

.heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}


.flex-learning {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content {
  max-width: 275px;
  height: auto;
  margin: 1.7rem 0.9rem;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content-info {
  margin: 0.9rem;
}

.content-info p {
  margin-top: 8px;
}

.content img {
  width: 100%;
  height: auto;
}

.mobileLearning {
  display: none;
}

/* Mobile learning content */

@media only screen and (max-width: 600px){
  .learning {
    display: none;
  }
  .mobileLearning {
    display: inherit;
    border-top: solid 1px lightgrey;
    margin: 1.7rem 0.9rem;
  }
  .mobileLearning h2 {
    margin: 1.7rem 0.9rem;
  }
  .mobile-learning-content {
    background: lightgrey;
    margin-bottom: 8px;
    padding: 1.3rem 0.9rem 1.3rem 0.9rem;
  }
  .mobile-learning-content:hover {
    background: grey;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
  }
}

/* thesis content */

.thesis {
}

.flex-thesis {
  display: flex;
}

.heading1 {
  margin: 1.7rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

video {
  height: auto;
  max-width: 100%;
}

.mobileThesis {
  display: none;
}

@media only screen and (max-width: 600px){
  video {
    height: auto;
    max-width: 100%;
  }
  .mobileThesis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: solid 1px lightgrey;
  }
  .mobileThesis h1 {
    margin: 1.7rem 0 0.9rem 0;
  }
  .mobile-video {
    margin-bottom: 1.3rem;
  }
}
/* footer content */

footer {
  border-top: solid 1px lightgrey;
  display: flex;
}

.credit {
  flex-grow: 1;
  margin: .9rem 0 1.7rem 1.3rem;
}

footer li {
  margin-right: 0.9rem;
}

@media only screen and (max-width: 600px){
  footer ul {
    display: none;
  }
}
